<h2 class="text-center">{{cat.name}}</h2>
<form class="form-horizontal" role="form" ng-submit="playCat()">
	<h3 class="text-center text-primary">Questions</h3>
	<table class="table table-hover table-sm">
	<thead class="thead-inverse">
	<tr>
		<td>
        </td>
        <td>
        </td>
        <td align="right">
        	<a class="btn" title="New question" href="#/createQuizzQuest/{{cat.id}}"><span class="fa fa-plus"></span></a>
        </td>
	</tr>
	</thead>
	    <tr ng-repeat="question in cat.questionsList">
	        <td>
	            {{question.name}}
	        </td>
	        <td>
	            {{question.question}}
	        </td>
	        <td align="right">
	        	<button ng-click="deleteCat(question)" title="Delete" class="btn btn-danger btn-sm" type="button"> <span class="fa fa-times"></span> </button>
	        </td>
	    </tr>
	</table>
	<button type="submit" type="button" class="btn btn-success btn-lg btn-block">Play</button>
</form>
