<h2 class="text-center">{{quest.name}}</h2>

<form class="form-horizontal" role="form" ng-submit="answerQuest()">
	
	<label for="title" class="col-sm-2 control-label">Question</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" size="60" id="question" placeholder="Question" ng-model="quest.question" readonly>
    </div>
    
    <label for="title" class="col-sm-2 control-label">Propositions</label>
	<div class="col-sm-10">
	    <div class="col-sm-2 row" ng-repeat="proposition in quest.propositionsList">
	        <div class="col-sm-2 radio">
			  <label><input type="radio" name="optradio" ng-change="radioChanged()" ng-model="radioValue">{{proposition}}</label>
			</div>
	    </div>
    </div>
    <div class="row col-sm-12 text-center">
    	<button type="submit" type="button" class="btn btn-success btn-lg " ng-show="success == null">Valid</button>
    </div>
    <label for="title" class="col-sm-12 control-label text-center" ng-show="success != null &amp;&amp; success =='false'">Wrong answer</label>
   	<label for="title" class="col-sm-2 control-label" ng-show="success != null &amp;&amp; success =='false'">Answer</label>
       <div class="col-sm-10">
           <input type="text" class="form-control" size="60" id="response" placeholder="Answer" 
           	ng-model="quest.response" ng-show="success != null &amp;&amp; success =='false'" readonly>
       </div>
       
   	<label for="title" class="col-sm-12 control-label text-center" ng-show="success == 'true'">Right answer</label>
   	
   	<div class="row col-sm-12 text-center">
    	<button type="button" class="btn btn-success btn-lg " ng-click="nextQuest()" ng-show="success">Next question</button>
    </div>
	
</form>
