<h2 class="text-center">{{task.title}}</h2>
<div class="container">
	<h3 class="text-center text-primary">Task</h3>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-body">
				<label for="title" class="col-sm-2 control-label">Title</label>
			
			    <div class="col-sm-10">
			        <input type="text" class="form-control" id="title" placeholder="Write todo.." ng-model="task.title">
			    </div>
			    
			    <label for="title" class="col-sm-2 control-label">User</label>
			
			    <div class="col-sm-10">
			        <select ng-model="task.user" class="form-control" ng-options="user.name for user in users track by user.name"></select>
			    </div>
			    
			    <label for="progress" class="col-sm-2 control-label">Progress</label>
			    
				<div class="progress col-sm-10">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
							aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.progress}}%">
				    		{{task.progress}}%
				  	</div>
				</div>
				
				<label for="done" class="col-sm-2 control-label">Done</label>
			    
				<div class="col-sm-10">
					<input type="checkbox" ng-change="taskDoneChanged(task)" ng-value="task.done" ng-model="task.done">
				</div>
			</div>
		</div>
    
    <div class="panel panel-default">
  		<div class="panel-heading">Tasks</div>
  		<div class="panel-body">
			<table class="table table-hover table-sm">
			<thead class="thead-inverse">
				<tr>
					<th>
			        </th>
			        <th>
			        </th>
			        <th>
			        </th>
			        <th>
			        </th>
			        <th align="right" width="1%">
			        	<button ng-click="createTask(task)" title="New task" class="btn btn-default btn-sm" type="button"> <span class="fa fa-plus"></span> </button>
			        </th>
				</tr>
			</thead>
			    <tr ng-repeat="task2 in task.taskList">
			        <td ng-click="openTask(task2)">
			            {{task2.title}}
			        </td>
			        <td ng-click="openTask(task2)">
			            {{task2.user.name}}
			        </td>
			        <td>
			            <input type="checkbox" ng-change="taskDoneChanged(task2)" ng-value="task2.done" ng-model="task2.done">
			        </td>
			        <td ng-click="openTask(task2)">
				        <div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="{{task2.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task2.progress}}%">
						    {{task2.progress}}%
						  </div>
						</div>
			        </td>
			        <td align="right" width="1%">
			        	<button ng-click="deleteTask(task2)" title="Delete" class="btn btn-danger btn-sm" type="button"> <span class="fa fa-times"></span> </button>
			        </td>
			    </tr>
			</table>
		</div>
	</div>
</div>
