<h2 class="text-center">All Users</h2>

<table class="table table-hover">
	<thead class="thead">
    <tr>
        <th>
            Name
        </th>
        <th>
            Created On
        </th>
        <th align="right" width="1%">
        	<a class="btn" title="New user" href="#/createUser"><span class="fa fa-plus"></span></a>
        </th>
    </tr>
    </thead>
    <tr ng-repeat="user in users">
        <td>
            {{user.name}}
        </td>
        <td>
            {{user.createdOn |date:'medium'}}
        </td>
        <td align="right" width="1%">
        	<button ng-click="deleteUser(user)" title="Delete" class="btn btn-danger btn-sm" type="button"> <span class="fa fa-times"></span> </button>
        </td>
    </tr>
</table>